/*html {
        height: 100%;
        overflow: hidden;
    }*/

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow:
		412px 17px #fff,
		361px 1029px #fff,
		708px 1786px #fff,
		848px 1352px #fff,
		1921px 417px #fff,
		259px 759px #fff,
		1734px 869px #fff,
		1404px 177px #fff,
		1167px 319px #fff,
		1927px 353px #fff,
		69px 588px #fff,
		1731px 697px #fff,
		1313px 1126px #fff,
		1840px 580px #fff,
		1639px 924px #fff,
		489px 433px #fff,
		679px 1408px #fff,
		767px 242px #fff,
		1374px 1740px #fff,
		832px 1395px #fff,
		1430px 1824px #fff,
		245px 22px #fff,
		829px 334px #fff,
		1514px 1576px #fff,
		1322px 1525px #fff,
		1625px 1581px #fff,
		495px 1680px #fff,
		489px 415px #fff,
		969px 1083px #fff,
		261px 1442px #fff,
		1423px 1667px #fff,
		87px 614px #fff,
		1548px 1458px #fff,
		1108px 1339px #fff,
		784px 1364px #fff,
		1888px 101px #fff,
		262px 820px #fff,
		399px 1300px #fff,
		520px 379px #fff,
		1922px 132px #fff,
		109px 240px #fff,
		937px 1791px #fff,
		1312px 523px #fff,
		1598px 25px #fff,
		515px 1212px #fff,
		1275px 1026px #fff,
		696px 528px #fff,
		623px 1735px #fff,
		1613px 79px #fff,
		1837px 796px #fff,
		275px 811px #fff,
		1315px 1388px #fff,
		585px 641px #fff,
		117px 975px #fff,
		1728px 1978px #fff,
		1683px 745px #fff,
		1625px 1811px #fff,
		1720px 1099px #fff,
		560px 1025px #fff,
		88px 456px #fff,
		1162px 1492px #fff,
		680px 1708px #fff,
		644px 1467px #fff,
		1697px 1578px #fff,
		955px 672px #fff,
		988px 871px #fff,
		48px 1973px #fff,
		875px 1648px #fff,
		1104px 385px #fff,
		814px 232px #fff,
		1407px 1776px #fff,
		28px 1549px #fff,
		632px 1672px #fff,
		1499px 800px #fff,
		1381px 118px #fff,
		326px 1077px #fff,
		116px 980px #fff,
		618px 1553px #fff,
		239px 557px #fff,
		27px 874px #fff,
		610px 240px #fff,
		1141px 829px #fff,
		450px 311px #fff,
		1016px 649px #fff,
		296px 1329px #fff,
		572px 1299px #fff,
		1694px 65px #fff,
		1407px 1974px #fff,
		228px 1719px #fff,
		592px 406px #fff,
		1409px 670px #fff,
		390px 624px #fff,
		60px 1620px #fff,
		1526px 981px #fff,
		1321px 303px #fff,
		5px 1026px #fff,
		1362px 1829px #fff,
		1415px 36px #fff,
		1803px 168px #fff,
		1410px 952px #fff,
		1190px 670px #fff,
		871px 1111px #fff,
		757px 859px #fff,
		517px 1421px #fff,
		1901px 508px #fff,
		1858px 326px #fff,
		1243px 1227px #fff,
		303px 440px #fff,
		1365px 348px #fff,
		1144px 431px #fff,
		1709px 1931px #fff,
		1894px 779px #fff,
		204px 944px #fff,
		347px 555px #fff,
		474px 587px #fff,
		1435px 1710px #fff,
		704px 890px #fff,
		869px 182px #fff,
		313px 1085px #fff,
		1043px 1521px #fff,
		544px 881px #fff,
		1913px 1759px #fff,
		1108px 1050px #fff,
		1622px 108px #fff,
		1759px 862px #fff,
		1025px 443px #fff,
		880px 490px #fff,
		1244px 1970px #fff,
		1522px 135px #fff,
		1769px 1953px #fff,
		1299px 505px #fff,
		1608px 1435px #fff,
		1848px 1370px #fff,
		22px 138px #fff,
		1571px 193px #fff,
		1351px 67px #fff,
		1811px 947px #fff,
		1531px 927px #fff,
		36px 808px #fff,
		889px 1208px #fff,
		1431px 1725px #fff,
		1839px 1627px #fff,
		1229px 1359px #fff,
		761px 26px #fff,
		17px 1658px #fff,
		978px 1792px #fff,
		1180px 1920px #fff,
		408px 868px #fff,
		1910px 724px #fff,
		128px 130px #fff,
		531px 182px #fff,
		847px 1330px #fff,
		208px 1861px #fff,
		421px 892px #fff,
		374px 1962px #fff,
		1816px 404px #fff,
		156px 1382px #fff,
		1430px 1099px #fff,
		603px 823px #fff,
		1934px 540px #fff,
		303px 1451px #fff,
		1622px 1785px #fff,
		1361px 1971px #fff,
		1898px 320px #fff,
		629px 429px #fff,
		1755px 1455px #fff,
		448px 1592px #fff,
		218px 421px #fff,
		1750px 1910px #fff,
		1545px 958px #fff,
		1300px 550px #fff,
		242px 18px #fff,
		1298px 529px #fff,
		323px 768px #fff,
		1486px 1083px #fff,
		1015px 1211px #fff,
		1194px 112px #fff,
		280px 730px #fff,
		939px 57px #fff,
		1136px 1157px #fff,
		1805px 236px #fff,
		836px 522px #fff,
		1483px 1984px #fff,
		1821px 386px #fff,
		1371px 667px #fff,
		1277px 1338px #fff,
		970px 1975px #fff,
		1482px 1933px #fff,
		940px 1641px #fff,
		1395px 1718px #fff,
		1174px 315px #fff,
		670px 810px #fff,
		586px 1567px #fff,
		1851px 699px #fff,
		917px 1439px #fff,
		1706px 87px #fff,
		74px 240px #fff,
		382px 510px #fff,
		743px 1506px #fff,
		433px 1534px #fff,
		568px 662px #fff,
		1243px 1229px #fff,
		52px 1726px #fff,
		124px 17px #fff,
		1753px 813px #fff,
		498px 1534px #fff,
		88px 37px #fff,
		1637px 603px #fff,
		1890px 1093px #fff,
		659px 1827px #fff,
		1520px 1286px #fff,
		1835px 190px #fff,
		1824px 252px #fff,
		826px 387px #fff,
		603px 596px #fff,
		1568px 1063px #fff,
		858px 77px #fff,
		834px 1395px #fff,
		819px 1775px #fff,
		1909px 518px #fff,
		661px 497px #fff,
		257px 243px #fff,
		478px 562px #fff,
		1010px 487px #fff,
		1563px 1704px #fff,
		772px 592px #fff,
		1779px 1090px #fff,
		106px 683px #fff,
		1451px 1206px #fff,
		1542px 1617px #fff,
		1757px 1681px #fff,
		42px 63px #fff,
		1972px 322px #fff,
		1365px 1094px #fff,
		874px 1517px #fff,
		1733px 55px #fff,
		1765px 171px #fff,
		542px 1143px #fff,
		354px 1241px #fff,
		206px 1256px #fff,
		1381px 40px #fff,
		992px 242px #fff,
		1450px 738px #fff,
		475px 992px #fff,
		1355px 1545px #fff,
		1771px 1050px #fff,
		1425px 723px #fff,
		828px 1389px #fff,
		1947px 443px #fff,
		151px 1032px #fff,
		1658px 648px #fff,
		655px 426px #fff,
		638px 447px #fff,
		1794px 1204px #fff,
		558px 1483px #fff,
		1539px 130px #fff,
		1136px 73px #fff,
		1526px 1869px #fff,
		739px 1109px #fff,
		962px 1623px #fff,
		1307px 1866px #fff,
		842px 31px #fff,
		432px 20px #fff,
		1894px 686px #fff,
		521px 352px #fff,
		1251px 83px #fff,
		880px 1630px #fff,
		1203px 163px #fff,
		1436px 1285px #fff,
		594px 1467px #fff,
		736px 1593px #fff,
		17px 1655px #fff,
		693px 1165px #fff,
		1071px 1907px #fff,
		998px 1246px #fff,
		1501px 1px #fff,
		883px 1841px #fff,
		404px 433px #fff,
		444px 1248px #fff,
		1048px 158px #fff,
		381px 490px #fff,
		1343px 1953px #fff,
		499px 1655px #fff,
		1258px 242px #fff,
		1343px 1382px #fff,
		1881px 1128px #fff,
		293px 828px #fff,
		1768px 672px #fff,
		72px 321px #fff,
		1203px 820px #fff,
		1293px 1817px #fff,
		1117px 1932px #fff,
		965px 244px #fff,
		128px 1853px #fff,
		1843px 399px #fff,
		1077px 613px #fff,
		1539px 1921px #fff,
		400px 135px #fff,
		13px 1098px #fff,
		222px 1607px #fff,
		1457px 1075px #fff,
		1334px 1069px #fff,
		728px 205px #fff,
		290px 1503px #fff,
		695px 1988px #fff,
		1888px 1742px #fff,
		481px 1976px #fff,
		335px 1302px #fff,
		1922px 1598px #fff,
		1978px 1372px #fff,
		315px 1954px #fff,
		410px 1314px #fff,
		358px 77px #fff,
		1600px 1477px #fff,
		341px 1055px #fff,
		1782px 509px #fff,
		1597px 520px #fff,
		1723px 920px #fff,
		304px 1231px #fff,
		710px 671px #fff,
		869px 1951px #fff,
		686px 553px #fff,
		1831px 216px #fff,
		1566px 428px #fff,
		172px 493px #fff,
		1818px 861px #fff,
		1427px 78px #fff,
		1184px 628px #fff,
		1686px 44px #fff,
		277px 1864px #fff,
		949px 1812px #fff,
		173px 1176px #fff,
		71px 444px #fff,
		577px 1111px #fff,
		1674px 629px #fff,
		912px 1046px #fff,
		1865px 673px #fff,
		605px 1982px #fff,
		729px 624px #fff,
		1340px 1420px #fff,
		1632px 390px #fff,
		1932px 110px #fff,
		1044px 233px #fff,
		107px 1550px #fff,
		1616px 1435px #fff,
		608px 323px #fff,
		778px 886px #fff,
		1598px 924px #fff,
		1162px 1176px #fff,
		1056px 995px #fff,
		743px 1715px #fff,
		303px 874px #fff,
		486px 250px #fff,
		601px 504px #fff,
		1278px 1924px #fff,
		1322px 1718px #fff,
		1977px 171px #fff,
		845px 1123px #fff,
		697px 874px #fff,
		785px 1351px #fff,
		1310px 1294px #fff,
		1449px 845px #fff,
		802px 1637px #fff,
		636px 984px #fff,
		719px 284px #fff,
		404px 238px #fff,
		1270px 1260px #fff,
		990px 611px #fff,
		1110px 975px #fff,
		635px 665px #fff,
		997px 1416px #fff,
		765px 1036px #fff,
		400px 1805px #fff,
		966px 1333px #fff,
		1644px 1848px #fff,
		1194px 742px #fff,
		160px 1416px #fff,
		674px 1294px #fff,
		1523px 300px #fff,
		1301px 310px #fff,
		657px 1487px #fff,
		1409px 1757px #fff,
		505px 1040px #fff,
		1793px 1242px #fff,
		546px 876px #fff,
		249px 472px #fff,
		1498px 410px #fff,
		372px 854px #fff,
		454px 316px #fff,
		1591px 1969px #fff,
		688px 1515px #fff,
		117px 598px #fff,
		113px 677px #fff,
		627px 214px #fff,
		1374px 55px #fff,
		354px 414px #fff,
		1293px 1845px #fff,
		265px 778px #fff,
		477px 1650px #fff,
		449px 1728px #fff,
		1967px 447px #fff,
		1926px 705px #fff,
		141px 485px #fff,
		654px 836px #fff,
		105px 74px #fff,
		1253px 738px #fff,
		737px 1309px #fff,
		1452px 555px #fff,
		473px 1137px #fff,
		1545px 1136px #fff,
		1860px 1355px #fff,
		1742px 39px #fff,
		819px 1414px #fff,
		1341px 199px #fff,
		1105px 987px #fff,
		1586px 130px #fff,
		236px 417px #fff,
		349px 1301px #fff,
		1692px 1703px #fff,
		986px 636px #fff,
		1453px 1398px #fff,
		1315px 806px #fff,
		755px 990px #fff,
		137px 1006px #fff,
		1721px 835px #fff,
		1783px 1818px #fff,
		1882px 1861px #fff,
		1450px 461px #fff,
		929px 1951px #fff,
		1555px 495px #fff,
		80px 1920px #fff,
		1429px 1999px #fff,
		1926px 1605px #fff,
		151px 1362px #fff,
		781px 808px #fff,
		1066px 272px #fff,
		1424px 324px #fff,
		217px 1683px #fff,
		437px 1095px #fff,
		1434px 1149px #fff,
		1283px 1534px #fff,
		710px 1266px #fff,
		1876px 1604px #fff,
		596px 1730px #fff,
		216px 60px #fff,
		1976px 1111px #fff,
		475px 859px #fff,
		93px 47px #fff,
		397px 435px #fff,
		594px 929px #fff,
		1349px 911px #fff,
		1911px 1335px #fff,
		419px 189px #fff,
		1991px 981px #fff,
		240px 1741px #fff,
		606px 1701px #fff,
		172px 1906px #fff,
		1754px 510px #fff,
		922px 233px #fff,
		514px 1851px #fff,
		227px 1244px #fff,
		1092px 369px #fff,
		1547px 546px #fff,
		1897px 486px #fff,
		497px 698px #fff,
		548px 1647px #fff,
		876px 101px #fff,
		268px 1035px #fff,
		844px 686px #fff,
		123px 1855px #fff,
		1605px 1822px #fff,
		894px 491px #fff,
		421px 1081px #fff,
		1548px 1527px #fff,
		1060px 1443px #fff,
		999px 1529px #fff,
		1541px 1052px #fff,
		1251px 1510px #fff,
		572px 673px #fff,
		1603px 1223px #fff,
		1630px 1352px #fff,
		1058px 212px #fff,
		855px 1626px #fff,
		481px 703px #fff,
		1531px 1176px #fff,
		132px 615px #fff,
		360px 1638px #fff,
		1113px 841px #fff,
		1965px 498px #fff,
		461px 1364px #fff,
		1052px 766px #fff,
		1269px 976px #fff,
		233px 465px #fff,
		186px 1586px #fff,
		259px 1980px #fff,
		1900px 1732px #fff,
		1233px 420px #fff,
		42px 1367px #fff,
		541px 1459px #fff,
		358px 747px #fff,
		743px 543px #fff,
		818px 1335px #fff,
		1862px 1432px #fff,
		18px 830px #fff,
		1525px 1351px #fff,
		360px 352px #fff,
		970px 1026px #fff,
		1424px 292px #fff,
		871px 14px #fff,
		983px 1817px #fff,
		763px 288px #fff,
		902px 1804px #fff,
		1977px 1066px #fff,
		158px 1195px #fff,
		19px 771px #fff,
		105px 1873px #fff,
		823px 1558px #fff,
		1591px 20px #fff,
		1524px 1260px #fff,
		246px 850px #fff,
		91px 1665px #fff,
		804px 1197px #fff,
		974px 166px #fff,
		936px 1778px #fff,
		1686px 669px #fff,
		536px 1508px #fff,
		843px 543px #fff,
		1042px 579px #fff,
		1427px 1025px #fff,
		1375px 106px #fff,
		1145px 659px #fff,
		601px 444px #fff,
		1046px 1406px #fff,
		1115px 1620px #fff,
		136px 765px #fff,
		1142px 1507px #fff,
		229px 11px #fff,
		1651px 711px #fff,
		1898px 1653px #fff,
		32px 1078px #fff,
		1142px 872px #fff,
		1729px 1225px #fff,
		1541px 244px #fff,
		1200px 538px #fff,
		749px 815px #fff,
		471px 671px #fff,
		1303px 138px #fff,
		756px 296px #fff,
		721px 278px #fff,
		1474px 624px #fff,
		1100px 49px #fff,
		1794px 952px #fff,
		425px 143px #fff,
		1390px 890px #fff,
		1688px 1167px #fff,
		1471px 275px #fff,
		693px 1978px #fff,
		1160px 1598px #fff,
		1329px 1784px #fff,
		1402px 11px #fff,
		1114px 741px #fff,
		195px 854px #fff,
		612px 580px #fff,
		1809px 447px #fff,
		1936px 1190px #fff,
		1844px 1187px #fff,
		933px 143px #fff,
		1738px 178px #fff,
		864px 1232px #fff,
		1546px 1552px #fff,
		399px 193px #fff,
		694px 844px #fff,
		1154px 253px #fff,
		1423px 1356px #fff,
		1123px 1975px #fff,
		396px 1940px #fff,
		980px 1673px #fff,
		227px 1314px #fff,
		1003px 337px #fff,
		565px 159px #fff,
		39px 931px #fff,
		1308px 1619px #fff,
		659px 109px #fff,
		202px 1700px #fff,
		267px 1955px #fff,
		394px 1209px #fff,
		629px 707px #fff,
		1008px 375px #fff,
		469px 74px #fff,
		143px 1138px #fff,
		1324px 549px #fff,
		381px 380px #fff,
		1152px 1180px #fff,
		453px 1690px #fff,
		1567px 1037px #fff,
		324px 1455px #fff,
		1401px 1585px #fff,
		1311px 708px #fff,
		16px 134px #fff,
		1881px 1772px #fff,
		1925px 517px #fff,
		1140px 122px #fff,
		682px 1235px #fff,
		430px 1224px #fff,
		805px 1016px #fff,
		1479px 1229px #fff,
		332px 666px #fff,
		671px 1800px #fff,
		1084px 408px #fff,
		922px 1274px #fff,
		1002px 85px #fff,
		1611px 1284px #fff,
		952px 976px #fff,
		1366px 1420px #fff,
		1972px 1306px #fff,
		1205px 500px #fff,
		643px 888px #fff,
		400px 777px #fff,
		264px 323px #fff,
		1288px 1108px #fff,
		514px 803px #fff,
		692px 1892px #fff,
		1378px 1381px #fff,
		696px 1269px #fff,
		74px 669px #fff,
		352px 1348px #fff,
		1917px 1px #fff,
		639px 1122px #fff,
		1103px 461px #fff,
		31px 803px #fff,
		1931px 1026px #fff,
		546px 141px #fff,
		1666px 1597px #fff,
		1169px 697px #fff,
		338px 859px #fff,
		1830px 782px #fff,
		563px 1288px #fff,
		1433px 1554px #fff,
		1086px 433px #fff,
		1384px 1850px #fff,
		321px 173px #fff,
		1553px 647px #fff,
		1194px 168px #fff,
		475px 198px #fff,
		1386px 727px #fff,
		988px 580px #fff,
		1163px 1318px #fff,
		1958px 204px #fff,
		313px 1479px #fff,
		1899px 413px #fff,
		136px 676px #fff,
		263px 1811px #fff,
		907px 764px #fff,
		616px 69px #fff,
		723px 686px #fff,
		891px 1336px #fff,
		1458px 281px #fff,
		1006px 1646px #fff,
		435px 337px #fff,
		1900px 841px #fff,
		884px 1891px #fff,
		929px 808px #fff,
		192px 209px #fff,
		24px 476px #fff,
		943px 1661px #fff,
		640px 781px #fff,
		655px 456px #fff,
		1392px 503px #fff,
		404px 684px #fff,
		1281px 1859px #fff,
		643px 1574px #fff,
		952px 979px #fff,
		1660px 831px #fff,
		568px 1081px #fff,
		1493px 1455px #fff,
		1846px 516px #fff,
		1452px 32px #fff,
		1244px 1431px #fff,
		1457px 208px #fff,
		1486px 1793px #fff,
		924px 907px #fff,
		25px 654px #fff,
		1237px 1838px #fff,
		517px 1512px #fff,
		462px 1785px #fff,
		1774px 169px #fff,
		36px 1734px #fff,
		901px 4px #fff,
		824px 554px #fff,
		669px 1071px #fff,
		1341px 1642px #fff,
		654px 1213px #fff,
		453px 1863px #fff,
		466px 756px #fff,
		617px 305px #fff,
		377px 1667px #fff,
		1088px 477px #fff,
		1850px 814px #fff,
		606px 1294px #fff,
		483px 1223px #fff;
	animation: animStar 50s linear infinite;
}
#stars:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow:
		412px 17px #fff,
		361px 1029px #fff,
		708px 1786px #fff,
		848px 1352px #fff,
		1921px 417px #fff,
		259px 759px #fff,
		1734px 869px #fff,
		1404px 177px #fff,
		1167px 319px #fff,
		1927px 353px #fff,
		69px 588px #fff,
		1731px 697px #fff,
		1313px 1126px #fff,
		1840px 580px #fff,
		1639px 924px #fff,
		489px 433px #fff,
		679px 1408px #fff,
		767px 242px #fff,
		1374px 1740px #fff,
		832px 1395px #fff,
		1430px 1824px #fff,
		245px 22px #fff,
		829px 334px #fff,
		1514px 1576px #fff,
		1322px 1525px #fff,
		1625px 1581px #fff,
		495px 1680px #fff,
		489px 415px #fff,
		969px 1083px #fff,
		261px 1442px #fff,
		1423px 1667px #fff,
		87px 614px #fff,
		1548px 1458px #fff,
		1108px 1339px #fff,
		784px 1364px #fff,
		1888px 101px #fff,
		262px 820px #fff,
		399px 1300px #fff,
		520px 379px #fff,
		1922px 132px #fff,
		109px 240px #fff,
		937px 1791px #fff,
		1312px 523px #fff,
		1598px 25px #fff,
		515px 1212px #fff,
		1275px 1026px #fff,
		696px 528px #fff,
		623px 1735px #fff,
		1613px 79px #fff,
		1837px 796px #fff,
		275px 811px #fff,
		1315px 1388px #fff,
		585px 641px #fff,
		117px 975px #fff,
		1728px 1978px #fff,
		1683px 745px #fff,
		1625px 1811px #fff,
		1720px 1099px #fff,
		560px 1025px #fff,
		88px 456px #fff,
		1162px 1492px #fff,
		680px 1708px #fff,
		644px 1467px #fff,
		1697px 1578px #fff,
		955px 672px #fff,
		988px 871px #fff,
		48px 1973px #fff,
		875px 1648px #fff,
		1104px 385px #fff,
		814px 232px #fff,
		1407px 1776px #fff,
		28px 1549px #fff,
		632px 1672px #fff,
		1499px 800px #fff,
		1381px 118px #fff,
		326px 1077px #fff,
		116px 980px #fff,
		618px 1553px #fff,
		239px 557px #fff,
		27px 874px #fff,
		610px 240px #fff,
		1141px 829px #fff,
		450px 311px #fff,
		1016px 649px #fff,
		296px 1329px #fff,
		572px 1299px #fff,
		1694px 65px #fff,
		1407px 1974px #fff,
		228px 1719px #fff,
		592px 406px #fff,
		1409px 670px #fff,
		390px 624px #fff,
		60px 1620px #fff,
		1526px 981px #fff,
		1321px 303px #fff,
		5px 1026px #fff,
		1362px 1829px #fff,
		1415px 36px #fff,
		1803px 168px #fff,
		1410px 952px #fff,
		1190px 670px #fff,
		871px 1111px #fff,
		757px 859px #fff,
		517px 1421px #fff,
		1901px 508px #fff,
		1858px 326px #fff,
		1243px 1227px #fff,
		303px 440px #fff,
		1365px 348px #fff,
		1144px 431px #fff,
		1709px 1931px #fff,
		1894px 779px #fff,
		204px 944px #fff,
		347px 555px #fff,
		474px 587px #fff,
		1435px 1710px #fff,
		704px 890px #fff,
		869px 182px #fff,
		313px 1085px #fff,
		1043px 1521px #fff,
		544px 881px #fff,
		1913px 1759px #fff,
		1108px 1050px #fff,
		1622px 108px #fff,
		1759px 862px #fff,
		1025px 443px #fff,
		880px 490px #fff,
		1244px 1970px #fff,
		1522px 135px #fff,
		1769px 1953px #fff,
		1299px 505px #fff,
		1608px 1435px #fff,
		1848px 1370px #fff,
		22px 138px #fff,
		1571px 193px #fff,
		1351px 67px #fff,
		1811px 947px #fff,
		1531px 927px #fff,
		36px 808px #fff,
		889px 1208px #fff,
		1431px 1725px #fff,
		1839px 1627px #fff,
		1229px 1359px #fff,
		761px 26px #fff,
		17px 1658px #fff,
		978px 1792px #fff,
		1180px 1920px #fff,
		408px 868px #fff,
		1910px 724px #fff,
		128px 130px #fff,
		531px 182px #fff,
		847px 1330px #fff,
		208px 1861px #fff,
		421px 892px #fff,
		374px 1962px #fff,
		1816px 404px #fff,
		156px 1382px #fff,
		1430px 1099px #fff,
		603px 823px #fff,
		1934px 540px #fff,
		303px 1451px #fff,
		1622px 1785px #fff,
		1361px 1971px #fff,
		1898px 320px #fff,
		629px 429px #fff,
		1755px 1455px #fff,
		448px 1592px #fff,
		218px 421px #fff,
		1750px 1910px #fff,
		1545px 958px #fff,
		1300px 550px #fff,
		242px 18px #fff,
		1298px 529px #fff,
		323px 768px #fff,
		1486px 1083px #fff,
		1015px 1211px #fff,
		1194px 112px #fff,
		280px 730px #fff,
		939px 57px #fff,
		1136px 1157px #fff,
		1805px 236px #fff,
		836px 522px #fff,
		1483px 1984px #fff,
		1821px 386px #fff,
		1371px 667px #fff,
		1277px 1338px #fff,
		970px 1975px #fff,
		1482px 1933px #fff,
		940px 1641px #fff,
		1395px 1718px #fff,
		1174px 315px #fff,
		670px 810px #fff,
		586px 1567px #fff,
		1851px 699px #fff,
		917px 1439px #fff,
		1706px 87px #fff,
		74px 240px #fff,
		382px 510px #fff,
		743px 1506px #fff,
		433px 1534px #fff,
		568px 662px #fff,
		1243px 1229px #fff,
		52px 1726px #fff,
		124px 17px #fff,
		1753px 813px #fff,
		498px 1534px #fff,
		88px 37px #fff,
		1637px 603px #fff,
		1890px 1093px #fff,
		659px 1827px #fff,
		1520px 1286px #fff,
		1835px 190px #fff,
		1824px 252px #fff,
		826px 387px #fff,
		603px 596px #fff,
		1568px 1063px #fff,
		858px 77px #fff,
		834px 1395px #fff,
		819px 1775px #fff,
		1909px 518px #fff,
		661px 497px #fff,
		257px 243px #fff,
		478px 562px #fff,
		1010px 487px #fff,
		1563px 1704px #fff,
		772px 592px #fff,
		1779px 1090px #fff,
		106px 683px #fff,
		1451px 1206px #fff,
		1542px 1617px #fff,
		1757px 1681px #fff,
		42px 63px #fff,
		1972px 322px #fff,
		1365px 1094px #fff,
		874px 1517px #fff,
		1733px 55px #fff,
		1765px 171px #fff,
		542px 1143px #fff,
		354px 1241px #fff,
		206px 1256px #fff,
		1381px 40px #fff,
		992px 242px #fff,
		1450px 738px #fff,
		475px 992px #fff,
		1355px 1545px #fff,
		1771px 1050px #fff,
		1425px 723px #fff,
		828px 1389px #fff,
		1947px 443px #fff,
		151px 1032px #fff,
		1658px 648px #fff,
		655px 426px #fff,
		638px 447px #fff,
		1794px 1204px #fff,
		558px 1483px #fff,
		1539px 130px #fff,
		1136px 73px #fff,
		1526px 1869px #fff,
		739px 1109px #fff,
		962px 1623px #fff,
		1307px 1866px #fff,
		842px 31px #fff,
		432px 20px #fff,
		1894px 686px #fff,
		521px 352px #fff,
		1251px 83px #fff,
		880px 1630px #fff,
		1203px 163px #fff,
		1436px 1285px #fff,
		594px 1467px #fff,
		736px 1593px #fff,
		17px 1655px #fff,
		693px 1165px #fff,
		1071px 1907px #fff,
		998px 1246px #fff,
		1501px 1px #fff,
		883px 1841px #fff,
		404px 433px #fff,
		444px 1248px #fff,
		1048px 158px #fff,
		381px 490px #fff,
		1343px 1953px #fff,
		499px 1655px #fff,
		1258px 242px #fff,
		1343px 1382px #fff,
		1881px 1128px #fff,
		293px 828px #fff,
		1768px 672px #fff,
		72px 321px #fff,
		1203px 820px #fff,
		1293px 1817px #fff,
		1117px 1932px #fff,
		965px 244px #fff,
		128px 1853px #fff,
		1843px 399px #fff,
		1077px 613px #fff,
		1539px 1921px #fff,
		400px 135px #fff,
		13px 1098px #fff,
		222px 1607px #fff,
		1457px 1075px #fff,
		1334px 1069px #fff,
		728px 205px #fff,
		290px 1503px #fff,
		695px 1988px #fff,
		1888px 1742px #fff,
		481px 1976px #fff,
		335px 1302px #fff,
		1922px 1598px #fff,
		1978px 1372px #fff,
		315px 1954px #fff,
		410px 1314px #fff,
		358px 77px #fff,
		1600px 1477px #fff,
		341px 1055px #fff,
		1782px 509px #fff,
		1597px 520px #fff,
		1723px 920px #fff,
		304px 1231px #fff,
		710px 671px #fff,
		869px 1951px #fff,
		686px 553px #fff,
		1831px 216px #fff,
		1566px 428px #fff,
		172px 493px #fff,
		1818px 861px #fff,
		1427px 78px #fff,
		1184px 628px #fff,
		1686px 44px #fff,
		277px 1864px #fff,
		949px 1812px #fff,
		173px 1176px #fff,
		71px 444px #fff,
		577px 1111px #fff,
		1674px 629px #fff,
		912px 1046px #fff,
		1865px 673px #fff,
		605px 1982px #fff,
		729px 624px #fff,
		1340px 1420px #fff,
		1632px 390px #fff,
		1932px 110px #fff,
		1044px 233px #fff,
		107px 1550px #fff,
		1616px 1435px #fff,
		608px 323px #fff,
		778px 886px #fff,
		1598px 924px #fff,
		1162px 1176px #fff,
		1056px 995px #fff,
		743px 1715px #fff,
		303px 874px #fff,
		486px 250px #fff,
		601px 504px #fff,
		1278px 1924px #fff,
		1322px 1718px #fff,
		1977px 171px #fff,
		845px 1123px #fff,
		697px 874px #fff,
		785px 1351px #fff,
		1310px 1294px #fff,
		1449px 845px #fff,
		802px 1637px #fff,
		636px 984px #fff,
		719px 284px #fff,
		404px 238px #fff,
		1270px 1260px #fff,
		990px 611px #fff,
		1110px 975px #fff,
		635px 665px #fff,
		997px 1416px #fff,
		765px 1036px #fff,
		400px 1805px #fff,
		966px 1333px #fff,
		1644px 1848px #fff,
		1194px 742px #fff,
		160px 1416px #fff,
		674px 1294px #fff,
		1523px 300px #fff,
		1301px 310px #fff,
		657px 1487px #fff,
		1409px 1757px #fff,
		505px 1040px #fff,
		1793px 1242px #fff,
		546px 876px #fff,
		249px 472px #fff,
		1498px 410px #fff,
		372px 854px #fff,
		454px 316px #fff,
		1591px 1969px #fff,
		688px 1515px #fff,
		117px 598px #fff,
		113px 677px #fff,
		627px 214px #fff,
		1374px 55px #fff,
		354px 414px #fff,
		1293px 1845px #fff,
		265px 778px #fff,
		477px 1650px #fff,
		449px 1728px #fff,
		1967px 447px #fff,
		1926px 705px #fff,
		141px 485px #fff,
		654px 836px #fff,
		105px 74px #fff,
		1253px 738px #fff,
		737px 1309px #fff,
		1452px 555px #fff,
		473px 1137px #fff,
		1545px 1136px #fff,
		1860px 1355px #fff,
		1742px 39px #fff,
		819px 1414px #fff,
		1341px 199px #fff,
		1105px 987px #fff,
		1586px 130px #fff,
		236px 417px #fff,
		349px 1301px #fff,
		1692px 1703px #fff,
		986px 636px #fff,
		1453px 1398px #fff,
		1315px 806px #fff,
		755px 990px #fff,
		137px 1006px #fff,
		1721px 835px #fff,
		1783px 1818px #fff,
		1882px 1861px #fff,
		1450px 461px #fff,
		929px 1951px #fff,
		1555px 495px #fff,
		80px 1920px #fff,
		1429px 1999px #fff,
		1926px 1605px #fff,
		151px 1362px #fff,
		781px 808px #fff,
		1066px 272px #fff,
		1424px 324px #fff,
		217px 1683px #fff,
		437px 1095px #fff,
		1434px 1149px #fff,
		1283px 1534px #fff,
		710px 1266px #fff,
		1876px 1604px #fff,
		596px 1730px #fff,
		216px 60px #fff,
		1976px 1111px #fff,
		475px 859px #fff,
		93px 47px #fff,
		397px 435px #fff,
		594px 929px #fff,
		1349px 911px #fff,
		1911px 1335px #fff,
		419px 189px #fff,
		1991px 981px #fff,
		240px 1741px #fff,
		606px 1701px #fff,
		172px 1906px #fff,
		1754px 510px #fff,
		922px 233px #fff,
		514px 1851px #fff,
		227px 1244px #fff,
		1092px 369px #fff,
		1547px 546px #fff,
		1897px 486px #fff,
		497px 698px #fff,
		548px 1647px #fff,
		876px 101px #fff,
		268px 1035px #fff,
		844px 686px #fff,
		123px 1855px #fff,
		1605px 1822px #fff,
		894px 491px #fff,
		421px 1081px #fff,
		1548px 1527px #fff,
		1060px 1443px #fff,
		999px 1529px #fff,
		1541px 1052px #fff,
		1251px 1510px #fff,
		572px 673px #fff,
		1603px 1223px #fff,
		1630px 1352px #fff,
		1058px 212px #fff,
		855px 1626px #fff,
		481px 703px #fff,
		1531px 1176px #fff,
		132px 615px #fff,
		360px 1638px #fff,
		1113px 841px #fff,
		1965px 498px #fff,
		461px 1364px #fff,
		1052px 766px #fff,
		1269px 976px #fff,
		233px 465px #fff,
		186px 1586px #fff,
		259px 1980px #fff,
		1900px 1732px #fff,
		1233px 420px #fff,
		42px 1367px #fff,
		541px 1459px #fff,
		358px 747px #fff,
		743px 543px #fff,
		818px 1335px #fff,
		1862px 1432px #fff,
		18px 830px #fff,
		1525px 1351px #fff,
		360px 352px #fff,
		970px 1026px #fff,
		1424px 292px #fff,
		871px 14px #fff,
		983px 1817px #fff,
		763px 288px #fff,
		902px 1804px #fff,
		1977px 1066px #fff,
		158px 1195px #fff,
		19px 771px #fff,
		105px 1873px #fff,
		823px 1558px #fff,
		1591px 20px #fff,
		1524px 1260px #fff,
		246px 850px #fff,
		91px 1665px #fff,
		804px 1197px #fff,
		974px 166px #fff,
		936px 1778px #fff,
		1686px 669px #fff,
		536px 1508px #fff,
		843px 543px #fff,
		1042px 579px #fff,
		1427px 1025px #fff,
		1375px 106px #fff,
		1145px 659px #fff,
		601px 444px #fff,
		1046px 1406px #fff,
		1115px 1620px #fff,
		136px 765px #fff,
		1142px 1507px #fff,
		229px 11px #fff,
		1651px 711px #fff,
		1898px 1653px #fff,
		32px 1078px #fff,
		1142px 872px #fff,
		1729px 1225px #fff,
		1541px 244px #fff,
		1200px 538px #fff,
		749px 815px #fff,
		471px 671px #fff,
		1303px 138px #fff,
		756px 296px #fff,
		721px 278px #fff,
		1474px 624px #fff,
		1100px 49px #fff,
		1794px 952px #fff,
		425px 143px #fff,
		1390px 890px #fff,
		1688px 1167px #fff,
		1471px 275px #fff,
		693px 1978px #fff,
		1160px 1598px #fff,
		1329px 1784px #fff,
		1402px 11px #fff,
		1114px 741px #fff,
		195px 854px #fff,
		612px 580px #fff,
		1809px 447px #fff,
		1936px 1190px #fff,
		1844px 1187px #fff,
		933px 143px #fff,
		1738px 178px #fff,
		864px 1232px #fff,
		1546px 1552px #fff,
		399px 193px #fff,
		694px 844px #fff,
		1154px 253px #fff,
		1423px 1356px #fff,
		1123px 1975px #fff,
		396px 1940px #fff,
		980px 1673px #fff,
		227px 1314px #fff,
		1003px 337px #fff,
		565px 159px #fff,
		39px 931px #fff,
		1308px 1619px #fff,
		659px 109px #fff,
		202px 1700px #fff,
		267px 1955px #fff,
		394px 1209px #fff,
		629px 707px #fff,
		1008px 375px #fff,
		469px 74px #fff,
		143px 1138px #fff,
		1324px 549px #fff,
		381px 380px #fff,
		1152px 1180px #fff,
		453px 1690px #fff,
		1567px 1037px #fff,
		324px 1455px #fff,
		1401px 1585px #fff,
		1311px 708px #fff,
		16px 134px #fff,
		1881px 1772px #fff,
		1925px 517px #fff,
		1140px 122px #fff,
		682px 1235px #fff,
		430px 1224px #fff,
		805px 1016px #fff,
		1479px 1229px #fff,
		332px 666px #fff,
		671px 1800px #fff,
		1084px 408px #fff,
		922px 1274px #fff,
		1002px 85px #fff,
		1611px 1284px #fff,
		952px 976px #fff,
		1366px 1420px #fff,
		1972px 1306px #fff,
		1205px 500px #fff,
		643px 888px #fff,
		400px 777px #fff,
		264px 323px #fff,
		1288px 1108px #fff,
		514px 803px #fff,
		692px 1892px #fff,
		1378px 1381px #fff,
		696px 1269px #fff,
		74px 669px #fff,
		352px 1348px #fff,
		1917px 1px #fff,
		639px 1122px #fff,
		1103px 461px #fff,
		31px 803px #fff,
		1931px 1026px #fff,
		546px 141px #fff,
		1666px 1597px #fff,
		1169px 697px #fff,
		338px 859px #fff,
		1830px 782px #fff,
		563px 1288px #fff,
		1433px 1554px #fff,
		1086px 433px #fff,
		1384px 1850px #fff,
		321px 173px #fff,
		1553px 647px #fff,
		1194px 168px #fff,
		475px 198px #fff,
		1386px 727px #fff,
		988px 580px #fff,
		1163px 1318px #fff,
		1958px 204px #fff,
		313px 1479px #fff,
		1899px 413px #fff,
		136px 676px #fff,
		263px 1811px #fff,
		907px 764px #fff,
		616px 69px #fff,
		723px 686px #fff,
		891px 1336px #fff,
		1458px 281px #fff,
		1006px 1646px #fff,
		435px 337px #fff,
		1900px 841px #fff,
		884px 1891px #fff,
		929px 808px #fff,
		192px 209px #fff,
		24px 476px #fff,
		943px 1661px #fff,
		640px 781px #fff,
		655px 456px #fff,
		1392px 503px #fff,
		404px 684px #fff,
		1281px 1859px #fff,
		643px 1574px #fff,
		952px 979px #fff,
		1660px 831px #fff,
		568px 1081px #fff,
		1493px 1455px #fff,
		1846px 516px #fff,
		1452px 32px #fff,
		1244px 1431px #fff,
		1457px 208px #fff,
		1486px 1793px #fff,
		924px 907px #fff,
		25px 654px #fff,
		1237px 1838px #fff,
		517px 1512px #fff,
		462px 1785px #fff,
		1774px 169px #fff,
		36px 1734px #fff,
		901px 4px #fff,
		824px 554px #fff,
		669px 1071px #fff,
		1341px 1642px #fff,
		654px 1213px #fff,
		453px 1863px #fff,
		466px 756px #fff,
		617px 305px #fff,
		377px 1667px #fff,
		1088px 477px #fff,
		1850px 814px #fff,
		606px 1294px #fff,
		483px 1223px #fff;
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow:
		641px 1998px #fff,
		889px 1138px #fff,
		935px 1412px #fff,
		546px 403px #fff,
		510px 677px #fff,
		342px 1362px #fff,
		457px 1778px #fff,
		1663px 873px #fff,
		1817px 1200px #fff,
		1838px 646px #fff,
		1161px 1055px #fff,
		785px 1884px #fff,
		1511px 1717px #fff,
		834px 212px #fff,
		976px 109px #fff,
		877px 41px #fff,
		1410px 1316px #fff,
		1382px 200px #fff,
		759px 76px #fff,
		1360px 325px #fff,
		511px 52px #fff,
		1475px 799px #fff,
		844px 1694px #fff,
		499px 1111px #fff,
		274px 1106px #fff,
		1860px 580px #fff,
		766px 1863px #fff,
		583px 1843px #fff,
		873px 1978px #fff,
		1014px 1789px #fff,
		857px 1692px #fff,
		1879px 242px #fff,
		1559px 498px #fff,
		410px 475px #fff,
		1651px 693px #fff,
		1680px 456px #fff,
		1609px 1300px #fff,
		1791px 1079px #fff,
		627px 965px #fff,
		1260px 1143px #fff,
		1589px 1107px #fff,
		1528px 1735px #fff,
		1839px 1888px #fff,
		438px 1830px #fff,
		1851px 184px #fff,
		1273px 678px #fff,
		600px 111px #fff,
		415px 1345px #fff,
		628px 1380px #fff,
		1881px 1643px #fff,
		467px 1708px #fff,
		438px 380px #fff,
		712px 1500px #fff,
		734px 1972px #fff,
		194px 120px #fff,
		202px 1927px #fff,
		1409px 295px #fff,
		354px 644px #fff,
		990px 811px #fff,
		1353px 1546px #fff,
		1277px 205px #fff,
		1440px 1506px #fff,
		1218px 1046px #fff,
		787px 1479px #fff,
		1968px 314px #fff,
		1573px 569px #fff,
		105px 1389px #fff,
		1948px 463px #fff,
		1436px 1980px #fff,
		227px 1744px #fff,
		1649px 740px #fff,
		373px 281px #fff,
		1883px 1342px #fff,
		351px 1767px #fff,
		114px 441px #fff,
		1356px 724px #fff,
		1396px 1276px #fff,
		644px 1775px #fff,
		1009px 1179px #fff,
		502px 793px #fff,
		1998px 159px #fff,
		1294px 1901px #fff,
		1974px 841px #fff,
		1153px 357px #fff,
		728px 1700px #fff,
		1417px 1044px #fff,
		1739px 1887px #fff,
		887px 956px #fff,
		1078px 988px #fff,
		732px 1680px #fff,
		1981px 1387px #fff,
		1890px 760px #fff,
		1522px 745px #fff,
		1937px 494px #fff,
		95px 388px #fff,
		560px 789px #fff,
		842px 891px #fff,
		409px 1395px #fff,
		276px 645px #fff,
		1541px 140px #fff,
		899px 1902px #fff,
		140px 1455px #fff,
		1870px 1184px #fff,
		605px 1499px #fff,
		1969px 1394px #fff,
		764px 1471px #fff,
		1219px 787px #fff,
		113px 1187px #fff,
		1361px 821px #fff,
		619px 167px #fff,
		864px 868px #fff,
		1438px 1561px #fff,
		887px 1398px #fff,
		787px 1362px #fff,
		1403px 310px #fff,
		567px 289px #fff,
		1460px 1698px #fff,
		1908px 1966px #fff,
		1766px 938px #fff,
		1787px 1456px #fff,
		1028px 900px #fff,
		300px 1543px #fff,
		870px 448px #fff,
		179px 1694px #fff,
		1405px 1895px #fff,
		425px 1878px #fff,
		1056px 708px #fff,
		120px 1809px #fff,
		1667px 878px #fff,
		783px 18px #fff,
		1276px 1416px #fff,
		1103px 749px #fff,
		1026px 795px #fff,
		878px 1451px #fff,
		619px 185px #fff,
		621px 759px #fff,
		1286px 1769px #fff,
		1080px 606px #fff,
		1245px 1747px #fff,
		1016px 484px #fff,
		750px 1783px #fff,
		703px 986px #fff,
		1091px 1156px #fff,
		1234px 1975px #fff,
		1600px 1719px #fff,
		945px 352px #fff,
		383px 109px #fff,
		656px 1245px #fff,
		1054px 1354px #fff,
		280px 956px #fff,
		695px 673px #fff,
		411px 1296px #fff,
		831px 1715px #fff,
		813px 1826px #fff,
		1431px 1630px #fff,
		621px 1906px #fff,
		1314px 639px #fff,
		1995px 620px #fff,
		1237px 1989px #fff,
		344px 243px #fff,
		929px 66px #fff,
		1251px 1670px #fff,
		186px 1260px #fff,
		229px 1826px #fff,
		176px 230px #fff,
		447px 1792px #fff,
		1201px 1499px #fff,
		427px 191px #fff,
		394px 57px #fff,
		750px 463px #fff,
		1113px 479px #fff,
		211px 1121px #fff,
		744px 409px #fff,
		1751px 189px #fff,
		57px 1788px #fff,
		938px 690px #fff,
		1141px 372px #fff,
		1248px 342px #fff,
		1553px 1555px #fff,
		1039px 233px #fff,
		921px 5px #fff,
		1025px 197px #fff,
		391px 1614px #fff,
		1770px 1908px #fff,
		1638px 1201px #fff,
		150px 77px #fff,
		1309px 1220px #fff,
		856px 319px #fff,
		1277px 194px #fff,
		1282px 474px #fff,
		1549px 1142px #fff,
		1739px 627px #fff,
		1359px 222px #fff,
		1758px 225px #fff,
		1458px 255px #fff,
		1801px 1089px #fff,
		1698px 260px #fff,
		1258px 1867px #fff,
		740px 1750px #fff,
		1938px 507px #fff;
	animation: animStar 100s linear infinite;
}
#stars2:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow:
		641px 1998px #fff,
		889px 1138px #fff,
		935px 1412px #fff,
		546px 403px #fff,
		510px 677px #fff,
		342px 1362px #fff,
		457px 1778px #fff,
		1663px 873px #fff,
		1817px 1200px #fff,
		1838px 646px #fff,
		1161px 1055px #fff,
		785px 1884px #fff,
		1511px 1717px #fff,
		834px 212px #fff,
		976px 109px #fff,
		877px 41px #fff,
		1410px 1316px #fff,
		1382px 200px #fff,
		759px 76px #fff,
		1360px 325px #fff,
		511px 52px #fff,
		1475px 799px #fff,
		844px 1694px #fff,
		499px 1111px #fff,
		274px 1106px #fff,
		1860px 580px #fff,
		766px 1863px #fff,
		583px 1843px #fff,
		873px 1978px #fff,
		1014px 1789px #fff,
		857px 1692px #fff,
		1879px 242px #fff,
		1559px 498px #fff,
		410px 475px #fff,
		1651px 693px #fff,
		1680px 456px #fff,
		1609px 1300px #fff,
		1791px 1079px #fff,
		627px 965px #fff,
		1260px 1143px #fff,
		1589px 1107px #fff,
		1528px 1735px #fff,
		1839px 1888px #fff,
		438px 1830px #fff,
		1851px 184px #fff,
		1273px 678px #fff,
		600px 111px #fff,
		415px 1345px #fff,
		628px 1380px #fff,
		1881px 1643px #fff,
		467px 1708px #fff,
		438px 380px #fff,
		712px 1500px #fff,
		734px 1972px #fff,
		194px 120px #fff,
		202px 1927px #fff,
		1409px 295px #fff,
		354px 644px #fff,
		990px 811px #fff,
		1353px 1546px #fff,
		1277px 205px #fff,
		1440px 1506px #fff,
		1218px 1046px #fff,
		787px 1479px #fff,
		1968px 314px #fff,
		1573px 569px #fff,
		105px 1389px #fff,
		1948px 463px #fff,
		1436px 1980px #fff,
		227px 1744px #fff,
		1649px 740px #fff,
		373px 281px #fff,
		1883px 1342px #fff,
		351px 1767px #fff,
		114px 441px #fff,
		1356px 724px #fff,
		1396px 1276px #fff,
		644px 1775px #fff,
		1009px 1179px #fff,
		502px 793px #fff,
		1998px 159px #fff,
		1294px 1901px #fff,
		1974px 841px #fff,
		1153px 357px #fff,
		728px 1700px #fff,
		1417px 1044px #fff,
		1739px 1887px #fff,
		887px 956px #fff,
		1078px 988px #fff,
		732px 1680px #fff,
		1981px 1387px #fff,
		1890px 760px #fff,
		1522px 745px #fff,
		1937px 494px #fff,
		95px 388px #fff,
		560px 789px #fff,
		842px 891px #fff,
		409px 1395px #fff,
		276px 645px #fff,
		1541px 140px #fff,
		899px 1902px #fff,
		140px 1455px #fff,
		1870px 1184px #fff,
		605px 1499px #fff,
		1969px 1394px #fff,
		764px 1471px #fff,
		1219px 787px #fff,
		113px 1187px #fff,
		1361px 821px #fff,
		619px 167px #fff,
		864px 868px #fff,
		1438px 1561px #fff,
		887px 1398px #fff,
		787px 1362px #fff,
		1403px 310px #fff,
		567px 289px #fff,
		1460px 1698px #fff,
		1908px 1966px #fff,
		1766px 938px #fff,
		1787px 1456px #fff,
		1028px 900px #fff,
		300px 1543px #fff,
		870px 448px #fff,
		179px 1694px #fff,
		1405px 1895px #fff,
		425px 1878px #fff,
		1056px 708px #fff,
		120px 1809px #fff,
		1667px 878px #fff,
		783px 18px #fff,
		1276px 1416px #fff,
		1103px 749px #fff,
		1026px 795px #fff,
		878px 1451px #fff,
		619px 185px #fff,
		621px 759px #fff,
		1286px 1769px #fff,
		1080px 606px #fff,
		1245px 1747px #fff,
		1016px 484px #fff,
		750px 1783px #fff,
		703px 986px #fff,
		1091px 1156px #fff,
		1234px 1975px #fff,
		1600px 1719px #fff,
		945px 352px #fff,
		383px 109px #fff,
		656px 1245px #fff,
		1054px 1354px #fff,
		280px 956px #fff,
		695px 673px #fff,
		411px 1296px #fff,
		831px 1715px #fff,
		813px 1826px #fff,
		1431px 1630px #fff,
		621px 1906px #fff,
		1314px 639px #fff,
		1995px 620px #fff,
		1237px 1989px #fff,
		344px 243px #fff,
		929px 66px #fff,
		1251px 1670px #fff,
		186px 1260px #fff,
		229px 1826px #fff,
		176px 230px #fff,
		447px 1792px #fff,
		1201px 1499px #fff,
		427px 191px #fff,
		394px 57px #fff,
		750px 463px #fff,
		1113px 479px #fff,
		211px 1121px #fff,
		744px 409px #fff,
		1751px 189px #fff,
		57px 1788px #fff,
		938px 690px #fff,
		1141px 372px #fff,
		1248px 342px #fff,
		1553px 1555px #fff,
		1039px 233px #fff,
		921px 5px #fff,
		1025px 197px #fff,
		391px 1614px #fff,
		1770px 1908px #fff,
		1638px 1201px #fff,
		150px 77px #fff,
		1309px 1220px #fff,
		856px 319px #fff,
		1277px 194px #fff,
		1282px 474px #fff,
		1549px 1142px #fff,
		1739px 627px #fff,
		1359px 222px #fff,
		1758px 225px #fff,
		1458px 255px #fff,
		1801px 1089px #fff,
		1698px 260px #fff,
		1258px 1867px #fff,
		740px 1750px #fff,
		1938px 507px #fff;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow:
		1713px 1665px #fff,
		968px 1596px #fff,
		568px 577px #fff,
		195px 311px #fff,
		720px 1805px #fff,
		1539px 1789px #fff,
		1134px 1928px #fff,
		1976px 1280px #fff,
		1848px 1555px #fff,
		1707px 324px #fff,
		872px 553px #fff,
		1041px 1040px #fff,
		20px 489px #fff,
		1793px 1002px #fff,
		1153px 1181px #fff,
		751px 486px #fff,
		455px 1455px #fff,
		1381px 1156px #fff,
		911px 1415px #fff,
		1464px 300px #fff,
		1756px 121px #fff,
		1315px 134px #fff,
		247px 956px #fff,
		1197px 1486px #fff,
		1079px 1375px #fff,
		826px 1985px #fff,
		1905px 1380px #fff,
		475px 170px #fff,
		865px 1231px #fff,
		1089px 232px #fff,
		1534px 762px #fff,
		784px 367px #fff,
		693px 105px #fff,
		1206px 30px #fff,
		762px 460px #fff,
		808px 123px #fff,
		1691px 97px #fff,
		1214px 937px #fff,
		564px 206px #fff,
		924px 1989px #fff,
		1650px 329px #fff,
		631px 1890px #fff,
		1646px 442px #fff,
		780px 1373px #fff,
		545px 1453px #fff,
		659px 12px #fff,
		788px 1980px #fff,
		1374px 1426px #fff,
		1676px 1028px #fff,
		1373px 1304px #fff,
		1270px 1649px #fff,
		197px 1727px #fff,
		1517px 1400px #fff,
		494px 1472px #fff,
		1997px 1062px #fff,
		1392px 84px #fff,
		1314px 1940px #fff,
		743px 852px #fff,
		1119px 935px #fff,
		1335px 1549px #fff,
		770px 1410px #fff,
		1534px 254px #fff,
		109px 497px #fff,
		1979px 927px #fff,
		557px 1363px #fff,
		581px 919px #fff,
		184px 147px #fff,
		1206px 1549px #fff,
		1983px 1311px #fff,
		1936px 999px #fff,
		895px 1242px #fff,
		1664px 16px #fff,
		1543px 1871px #fff,
		269px 1044px #fff,
		1394px 1879px #fff,
		465px 1332px #fff,
		1908px 548px #fff,
		1240px 1983px #fff,
		473px 713px #fff,
		731px 1534px #fff,
		1972px 963px #fff,
		524px 1468px #fff,
		1394px 308px #fff,
		509px 763px #fff,
		1833px 656px #fff,
		518px 1133px #fff,
		1066px 1552px #fff,
		1058px 327px #fff,
		1092px 21px #fff,
		1469px 487px #fff,
		1270px 98px #fff,
		1958px 1641px #fff,
		1422px 687px #fff,
		953px 1325px #fff,
		1512px 1846px #fff,
		739px 1963px #fff,
		1581px 1290px #fff,
		549px 133px #fff,
		1574px 1803px #fff,
		182px 250px #fff;
	animation: animStar 150s linear infinite;
}
#stars3:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow:
		1713px 1665px #fff,
		968px 1596px #fff,
		568px 577px #fff,
		195px 311px #fff,
		720px 1805px #fff,
		1539px 1789px #fff,
		1134px 1928px #fff,
		1976px 1280px #fff,
		1848px 1555px #fff,
		1707px 324px #fff,
		872px 553px #fff,
		1041px 1040px #fff,
		20px 489px #fff,
		1793px 1002px #fff,
		1153px 1181px #fff,
		751px 486px #fff,
		455px 1455px #fff,
		1381px 1156px #fff,
		911px 1415px #fff,
		1464px 300px #fff,
		1756px 121px #fff,
		1315px 134px #fff,
		247px 956px #fff,
		1197px 1486px #fff,
		1079px 1375px #fff,
		826px 1985px #fff,
		1905px 1380px #fff,
		475px 170px #fff,
		865px 1231px #fff,
		1089px 232px #fff,
		1534px 762px #fff,
		784px 367px #fff,
		693px 105px #fff,
		1206px 30px #fff,
		762px 460px #fff,
		808px 123px #fff,
		1691px 97px #fff,
		1214px 937px #fff,
		564px 206px #fff,
		924px 1989px #fff,
		1650px 329px #fff,
		631px 1890px #fff,
		1646px 442px #fff,
		780px 1373px #fff,
		545px 1453px #fff,
		659px 12px #fff,
		788px 1980px #fff,
		1374px 1426px #fff,
		1676px 1028px #fff,
		1373px 1304px #fff,
		1270px 1649px #fff,
		197px 1727px #fff,
		1517px 1400px #fff,
		494px 1472px #fff,
		1997px 1062px #fff,
		1392px 84px #fff,
		1314px 1940px #fff,
		743px 852px #fff,
		1119px 935px #fff,
		1335px 1549px #fff,
		770px 1410px #fff,
		1534px 254px #fff,
		109px 497px #fff,
		1979px 927px #fff,
		557px 1363px #fff,
		581px 919px #fff,
		184px 147px #fff,
		1206px 1549px #fff,
		1983px 1311px #fff,
		1936px 999px #fff,
		895px 1242px #fff,
		1664px 16px #fff,
		1543px 1871px #fff,
		269px 1044px #fff,
		1394px 1879px #fff,
		465px 1332px #fff,
		1908px 548px #fff,
		1240px 1983px #fff,
		473px 713px #fff,
		731px 1534px #fff,
		1972px 963px #fff,
		524px 1468px #fff,
		1394px 308px #fff,
		509px 763px #fff,
		1833px 656px #fff,
		518px 1133px #fff,
		1066px 1552px #fff,
		1058px 327px #fff,
		1092px 21px #fff,
		1469px 487px #fff,
		1270px 98px #fff,
		1958px 1641px #fff,
		1422px 687px #fff,
		953px 1325px #fff,
		1512px 1846px #fff,
		739px 1963px #fff,
		1581px 1290px #fff,
		549px 133px #fff,
		1574px 1803px #fff,
		182px 250px #fff;
}

#title span {
	background: -webkit-linear-gradient(white, #38495a);
	-webkit-text-fill-color: transparent;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}
