@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i';
@import 'https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet';
/*
font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Major Mono Display', monospace;
*/

.spacing {
    line-height: 32px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-width: 5px;   
    border-color: white;
    border-style: solid; 
  }


h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 80px;
    line-height: 70px;
    position:relative;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    color: rgb(238, 220, 217);
    /*margin-left: 40px;*/
    font-weight: 700;
}

h3 {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 16px;
    position: relative;
    color: #e09288;
    /*margin-left: 40px;*/
    font-weight: 700;
}
