.jockey{font-family: jockey-one, sans-serif}
.play{font-family: play, sans-serif}

.box {
  -webkit-box-shadow: 0 0 1em .5em rgba(0,0,0,.5);
box-shadow: 0 0 1em .5em rgba(0,0,0,.25);
}

.vhs {
  position: relative;
  bottom: 0px;
  margin-bottom: 100px;
  margin-left: 100px;
  mix-blend-mode: screen;
  color: transparent;
  text-shadow: 0 0 0.125rem #0f0;
  -webkit-animation: jitter 5s infinite;
          animation: jitter 5s infinite;
}
.vhs::before,
.vhs::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  -webkit-animation: glitch 5s infinite alternate;
          animation: glitch 5s infinite alternate;
}
.vhs::before {
  text-shadow: 0 0 0.125rem #f00;
}
.vhs::after {
  text-shadow: 0 0 0.125rem #00f;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
@-webkit-keyframes glitch {
  0% {
    -webkit-transform: rotate(0deg) translate(0.11rem) rotate(0deg);
            transform: rotate(0deg) translate(0.11rem) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(0.11rem) rotate(-360deg);
            transform: rotate(360deg) translate(0.11rem) rotate(-360deg);
  }
}
@keyframes glitch {
  0% {
    -webkit-transform: rotate(0deg) translate(0.11rem) rotate(0deg);
            transform: rotate(0deg) translate(0.11rem) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(0.11rem) rotate(-360deg);
            transform: rotate(360deg) translate(0.11rem) rotate(-360deg);
  }
}
@-webkit-keyframes jitter {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50.1% {
    -webkit-transform: translateX(0.1em) skew(40deg);
            transform: translateX(0.1em) skew(40deg);
  }
  50.2% {
    -webkit-transform: translateX(-0.2em) skew(-40deg);
            transform: translateX(-0.2em) skew(-40deg);
  }
  50.3% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes jitter {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50.1% {
    -webkit-transform: translateX(0.1em) skew(40deg);
            transform: translateX(0.1em) skew(40deg);
  }
  50.2% {
    -webkit-transform: translateX(-0.2em) skew(-40deg);
            transform: translateX(-0.2em) skew(-40deg);
  }
  50.3% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

